<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="AdminPage.css">
    <title>Document</title>
</head>

<body>

    <div class="admin">
        Admin Page
    </div>

    <div class="container1">
        <div class="subContainer1">
            <div class="sc1-1">아리랑 아리랑</div>
            <div class="sc1-2">아라리오</div>
        </div>
        <div class="subContainer2">
            <div class="sc2-1">아리랑 고개를 넘어간다</div>
            <div class="sc2-2">나를 버리고 가시는 님은</div>
        </div>
        <div class="subContainer3">
            <div class="sc3-1">십리도 못가서</div>
            <div class="sc3-2">발병 난다.</div>
        </div>
    </div>

    <div class="container2">
        <div class="subContainer2-1">
            <div class="sec1">아리랑 아리랑</div>
            <div class="sec2">아라리오</div>
        </div>
        <div class="subContainer2-2">
            <div class="sec3">아리랑 고개를 넘어간다</div>
            <div class="sec4">나를 버리고 가시는 님은</div>
        </div>
    </div>

    <div class="footer">
        <div class="footer-1">Footer 동일</div>
    </div>

</body>

</html>