<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Layout.css">
    <title>Document</title>
</head>

<body>

    <div class="container1">
        <div class="d1">
            <div class="d1-1">공지사항</div>
            <div class="d1-2">Read</div>
            <div class="d1-3">뭐 였더라..</div>
            <div class="d1-4">게시판</div>
        </div>
    </div>

    <div class="centerContainer1">
        <div class="container2">
            <div class="c2-1"> Top1 </div>
            <div class="c2-2"> Top2 </div>
            <div class="c2-3"> Top3 </div>
        </div>
    </div>

    <div class="centerContainer2">
        <div class="container3">
            <div class="c3-title">공지사항</div>
        </div>
    </div>

    <div class="centerContainer3">
        <div class="container4">
            <div class="c4-title">공지사항 내용</div>
            <div class="c4-1">content1</div>
            <div class="c4-2">content2</div>
            <div class="c4-3">content3</div>
            <div class="c4-4">content4</div>
            <div class="c4-5">content5</div>
            <div class="c4-6">content6</div>
        </div>
    </div>

    <div class="centerContainer4">
        <div class="container5">
            <div class="c5-1"> 오늘의 나눔 게시판 </div>
            <div class="c5-2"> 오늘의 자유 게시판 </div>
        </div>
    </div>

    <div class="centerContainer5">
        <div class="footer">Footer 동일</div>
    </div>


</body>

</html>